:root {
    --color1: #003145; /*app-new-sub-bg*/
    --color2: white;
    --color3: #f5f5f5;
    --color4: #666666; /*celestial gray*/
    --color5: #e3f2e5;
    --color6: #cccccc;
}

.image {
    width: 120px;
    height: 120px;
}

.container-last {
    display: flex;
    align-items: center;
}

.date {
    display: flex;
    align-items: center;
}
