@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --color1: #003145; /*app-new-sub-bg*/
    --color2: white;
    --color3: #f5f5f5;
    --color4: #666666; /*celestial gray*/
    --color5: #e3f2e5;
    --color6: #333333;
    --color7: #f8f9fd;
    --color8: #255973;
    --color9: #858585;
    --color10: #cccccc;
    --color11: #44924c;
    --color12: #e3f2e5;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg {
    background-color: var(--color7);
}

.ai-planet {
    padding: 0.5rem;
    padding-left: 8rem;
}

.app-new-sub-container {
    color: var(--color2);
    font-family: "Poppins";
    max-height: 800px;
    background-color: var(--color1);
    padding: 0 8rem 4rem 8rem;
}

.new-sub-title {
    font-weight: 600;
    margin-top: 5rem;
}

.new-sub-descrip {
    font-weight: 500;
    font-size: 17px;
}

.upload-btn {
    padding: 12px 18px;
    width: 194px;
    height: 52px;
    background: #44924c;
    color: var(--color2);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.light-bulb {
    margin-top: 3rem;
    height: 300px;
    width: 200px;
    float: right;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem 0 8rem;
}

.filter-first {
    font-size: 17px;
    font-weight: 500;
}

.filter-first,
.filter-second {
    display: flex;
    gap: 36px;
}

.all,
.fav {
    padding: 0 1.5rem 0 1.5rem;
    cursor: pointer;
    color: var(--color4);
}

.all-active,
.fav-active {
    border-bottom: 4px solid var(--color11);
    color: var(--color6);
}

.search {
    width: 300px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--color4);
    display: flex;
    gap: 8px;
    padding: 16px;
    align-items: center;
    flex-grow: 0;
    font-size: 17px;
    color: var(--color6);
}

.search__input {
    border: none;
    outline: none;
    max-width: 100%;
    background-color: var(--color7);
}

.dropdown {
    width: 140px;
    height: 40px;
}

.search__select {
    position: absolute;
    width: 140px;
    height: 40px;
    padding: 16px;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--color4);
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    background-color: var(--color7);
    cursor: pointer;
    font-weight: 500;
    color: var(--color4);
}

.select__content {
    display: none;
}

.select__content-active {
    display: block;
    top: 110%;
    position: relative;
    background-color: var(--color2);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 140px;
    height: 80px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 17px;
    color: var(--color6);
    cursor: pointer;
    overflow: hidden;
}

.options {
    display: flex;
    align-items: center;
    height: 50%;
    padding: 16px;
}

.options:hover {
    background: var(--color12);
}

.sub-row,
.sub-col {
    padding: 0;
    margin: 0;
}

.hackathon-card {
    max-width: 360px;
    height: 289px;
    padding: 24px;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 3px 24px rgba(132, 132, 132, 0.16),
        inset 0px -3px 6px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.card-row-1 {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 500;
    font-size: 20px;
}

.card-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.card-summary {
    font-family: Inter;
    font-weight: 400;
    color: var(--color6);
    font-size: 16px;
}

.card-date {
    position: absolute;
    top: 85%;
    left: 50%;
    font-family: Inter;
    text-align: right;
    font-weight: 400;
    color: var(--color4);
    font-size: 14px;
}

.temp-1 {
    word-break: break-all;
}

/*Media queries*/
@media screen and (max-width: 1000px) {
    .app-new-sub-container {
        padding: 1rem;
    }
    .light-bulb {
        display: none;
    }
    .filter {
        display: flex;
        flex-direction: column;
    }
    .filter-first,
    .filter-second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.75rem;
    }
    .filter-first > * {
        width: 250px;
        text-align: center;
    }
    .sub-row {
        padding: 0px;
    }
    .sub-col {
        padding: 0px;
    }
}
